* {
  padding: 0;
  margin: 0;
  box-sizing: border;
}

header,
main,
aside {
  border: solid;
}

body {
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

button {
  background: black;
  color: white;
  border-radius: 4px;
  padding: 4px 6px;
}

.main-wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 200px 1fr;
}

img {
  display: block;
  width: 100%;
}

.loading {
  color: green;
}

.error {
  color: red;
}
